*{
    font-family: Arial, Helvetica, sans-serif;
}

.hero, .footer{
    background-color: #1F2937;
}


.top-box{
    display:flex;
    justify-content: space-around;
}   

ul{
    display:flex;
    list-style-type:none;
    gap: 15px;
}

img{
    padding-top: 40px;
}

.second-box{
    padding-top:50px;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    height:400px;
}

.hero-column{
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 200px;
}

.information{
    display:flex;
    flex-direction: column;
}

.img-row{
    display:flex;
    justify-content: center;
    padding-bottom: 70px;
    gap:40px;
}

.row-image{
    display:flex;
    flex-direction: row;
    width:200px;
    height:200px;
}

.row-text{
    display:flex;
    align-items: end;
    width:200px;
}

#information-header{
    display:flex;
    justify-content: center;
}

#main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color:#3882F6;
    width: 120px;
    border-radius: 10px;
    border-color:white;
}

#information-header{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.quote-section{
    padding-top:100px;
    padding-bottom:100px;
    padding-left:300px;
    padding-right:300px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}

#quoted{
    font-size:24px;
    font-weight:900;
    font-style: normal;
    display:flex;
    justify-content: flex-end;
}

.container{
    padding-top: 80px;
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sign-up{
    display:flex;
    background-color: #3882F6;
    width: 1000px;
    height:100px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.sign-up-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first-line{
    font-size:24px;
    font-weight: 900;
    margin:0;
}

#second-line{
    margin:0;
}


.sign-up-2{
    width:80px;
    height:40px;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

#footer-text{
    color:white;
}